.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-container-with-gap .react-multi-carousel-item {
  margin-right: 10px;
  width: 100px !important;
}

.carousel-item-gap {
  margin-right: 3px; /* Set the gap between items */
}

body {
  overflow-x: hidden;
}

.carousel .thumb {
  border: 2px solid #ddd; /* Add a border */
  background-color: "#b1b1b1";
}

.carousel .thumb.selected {
  border-color: #007bff; /* Highlight active thumbnail */
}
